# openssl req -x509 -nodes -days 3650 -newkey rsa:4096 -keyout dev-key.pem -out dev-cert.pem -config dev.cnf

[req]
default_bits = 4096
prompt = no
default_md = sha256
x509_extensions = req_ext
distinguished_name = dn

[dn]
CN = devnet.audiusd

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = node1.devnet.audiusd
DNS.2 = node2.devnet.audiusd
DNS.3 = node3.devnet.audiusd
DNS.4 = node4.devnet.audiusd
